$b: ".list";

#{$b} {

  #{$b}__li {
    display: inline-block;
  }

  
}

#{$b}#{$b}--row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: flex-start;
}


#{$b}#{$b}--jsb {
  justify-content: space-between;
}

#{$b}#{$b}--vertical-middle {

  align-content: center;
  align-items: center;

}